body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  color: #757575;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

section > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
/* SECCION HEADER */
header .Logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19px;
  color: #2196f3;
}

header .nav_menu .current {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

header .headers {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav_contacts .item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: #757575;
}

.item:focus,
.item:hover .email {
  color: #2196f3;
}

.nav_menu .headers:hover,
.nav_menu .headers:focus,
.nav_menu .headers .current .nav_menu .item:hover,
.nav_menu .item:focus {
  color: #2196f3;
}
.link .headers:hover,
.link,
.headers:focus {
  color: #2196f3;
}
/* SECCION HERO */

.hero {
  background: #2f303a;
}

.hero_title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.hero_button_primary {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* SECCION FEATURES */

.features .features_title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.features .features_parrafo {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}

/* SECCION ALBUM */

.album.title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
}

.album_descripcion {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
  cursor: pointer;
}
/* SECCION FOOTER */

.footer {
  background: #2f303a;
}

.footer .logo_footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.footer .location {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.footer .email {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer .tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.address .email:hover,
.address .email:focus {
  color: #2196f3;
}

.address .tel:hover,
.address .tel:focus {
  color: #2196f3;
}

/* SECCION PORTAFOLIO */

.portafolio .current {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6;
  color: #ffffff;

  background: #2196f3;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portafolio :hover,
.portafolio :hover {
  color: #2196f3;
}
/* .portafolio .button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
} */
.portafolio {
  list-style: none;
  font-family: "roboto", "Arial", sans-serif;
}

.portafolio .portafolio_title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}
.portafolio_descripcion {
  font-family: "roboto", "Arial", sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.portafolio_title {
  font-family: "roboto", "Arial", sans-serif;
  font-style: bold;
  font-size: 18px;
  list-style: 36px;
  list-style: 171%;
}
